/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Merriweather:wght@400;700;900&display=swap");

@import "tailwindcss";

body {
  overflow-x: hidden;
  background-color: rgb(250 250 250);
  background-image: url(../img/body-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1.625;
  color: rgb(136 136 136);
}

.solution .shadow-lg {
  box-shadow: 0px 15px 34px rgba(0, 0, 0, 0.1);
}

.solution .img-absolute {
  transform: translateY(-50%);
}
